* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage-cont {
  width: 100%;
  min-height: 660px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-cont {
  width: 1100px;
  height: 540px;
  background-color: blueviolet;
  display: flex;
}
.content-cont__text-cont {
  background-color: cadetblue;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-cont__text-cont__title {
  font-size: 3rem;
  margin: 0.5rem;
}
.content-cont__text-cont__description {
  font-size: 1.5rem;
  width: 300px;
  margin: 0.5rem;
}
.content-cont__text-cont__shop-now-btn {
  width: 300px;
  height: 50px;
  margin: 0.7rem;
}
.content-cont__img-cont {
  background-color: chocolate;
  width: 700px;
  height: 540px;
}
.content-cont__img-cont__img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
