* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-chosen-item-cont {
  width: 90%;
  height: 260px;
  display: flex;
  margin: 0.4rem;
  box-shadow: 1px 3px 4px 1px grey;
}

.cart-chosen-item-cont__img-cont {
  width: 45%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.cart-chosen-item-cont__img-cont__inner {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}
.cart-chosen-item-cont__img-cont__inner__img {
  max-width: 100%;
  min-height: 100%;
}

.cart-chosen-item-cont__info-cont {
  width: 55%;
  height: 260px;
  background-color: rgb(137, 190, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cart-chosen-item-cont__info-cont__add-subtract-functionality-cont {
  display: flex;
}

@media (max-width: 900px) {
  .cart-chosen-item-cont {
    flex-direction: column;
    height: 410px;
  }
  .cart-chosen-item-cont__img-cont {
    width: 100%;
    height: 260px;
  }
  .cart-chosen-item-cont__info-cont {
    width: 100%;
    height: 150px;
  }
}
