* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-cont {
  width: 100%;
  min-height: 60px;
  background-color: rgb(48, 29, 7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-cont {
  margin: 0.5rem;
  margin-left: 6rem;
  color: silver;
}
.nav-functionality-cont {
  margin: 0.5rem;
  margin-right: 6rem;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: silver;
}
.nav-functionality-cont__nav-link {
  color: silver;
  margin: 0.2rem;
}
.nav-functionality-cont__nav-link:hover {
  text-decoration: underline;
  text-decoration-color: silver;
}
.nav-functionality-cont__cart-cont {
  display: flex;
  color: silver;
}

@media (max-width: 550px) {
  .nav-logo-cont {
    margin: 0.5rem;
  }
  .nav-functionality-cont {
    margin: 0.5rem;
  }
}
@media (max-width: 350px) {
  .nav-cont {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-functionality-cont {
    width: 94%;
  }
}
@media (max-width: 260px) {
  .nav-functionality-cont {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
